{{define "components/todo_list.tmpl"}}
    {{template "components/todo_create_update_modal.tmpl"}}
    {{template "components/todo_delete_modal.tmpl"}}
    <button class="btn btn-primary mb-2"
            data-bs-toggle="modal"
            data-bs-target="#todo_create_update_modal"
            onclick="createUpdateTask('', 'Create task', 'POST')">
        Add a task
    </button>
    <div class="card rounded-1">
        <h5 class="card-header p-3">Tasks</h5>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .}}
                        <tr id="record_{{.ID}}">
                            <td><a href="{{.Url}}">{{.Title}}</a></td>
                            <td>{{.CreatedAt | dateFormat}}</td>
                            <td>{{.UpdatedAt | dateFormat}}</td>
                            <td>
                                <button class="btn btn-success"
                                        title="Edit"
                                        data-bs-toggle="modal"
                                        data-bs-target="#todo_create_update_modal"
                                        onclick="createUpdateTask({{.ID}}, 'Update task', 'PUT')">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                                <button class="btn btn-danger"
                                        title="Delete"
                                        data-bs-toggle="modal"
                                        data-bs-target="#todo_delete_modal"
                                        onclick="deleteTask({{.ID}})">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
{{end}}